<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Acebook!</title>
  <link rel="stylesheet" href="/public/css/color.css">
  <link rel="stylesheet" href="/public/css/main.min.css">
<link rel="stylesheet" href="/public/css/responsive.css">
<link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
  <div class="theme-layout">
    <div class="topbar stick">
      <a href="/">
        <img src="/public/img/logo.png">
         </a>
    </div>
    <div class="top-area">
      <ul class="main-menu" id="main-menu">

      </ul>
      <ul class="setting-area"></ul>
    </div>
  </div>
  <script>
    var mainURL="http://localhost:3000";
  </script>
  <style>
    #post-img-perview,
    #post-video-perview {
      height: 300px;
      width: 300px;
      object-fit: cover;
    }
  </style>
